<nav>
  <ol class="outer-list">
    <li class="page-item left">
      <a href
        class="page-link"
        (click)="!!ngb.selectPage(1)"
      >First</a>
    </li
    ><li class="page-item left">
      <a href
        class="page-link"
        (click)="!!ngb.selectPage(ngb.page-1)"
      >Previous</a>
    </li
    ><li class="page-item">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [pageSize]="pageSize"
        [(page)]="page"
        (pageChange)="pageChange.emit($event)"
      >
      </ngb-pagination>
    </li
    ><li class="page-item right">
      <a href
        class="page-link"
        (click)="!!ngb.selectPage(ngb.page+1)"
      >Next</a>
    </li
    ><li class="page-item right">
      <a href
        class="page-link"
        (click)="!!ngb.selectPage(ngb.pageCount)"
      >Last</a>
    </li>
  </ol>
</nav>
