<tzf-engage-shell [sidebar]="false">
  <tzf-csr-header
    *ngIf="false"
    context="This is context."
  >
    <div contextContent>label and dropdown</div>
  </tzf-csr-header>
  <tzf-engage-user></tzf-engage-user>
  <div sidebar>
    sidebar!
  </div>
  <li top><a href>Custom #1</a></li>
  <li top><a href>Custom #2</a></li>
  <img header src="assets/Logo.png" alt="TranZform">
  <img footer src="assets/Logo_Footer.png" alt="TranZform">
  <li aboutItem>
    <a href="#">Help</a>
  </li>
  <li aboutItem>
    <a href="#">Terms &amp; Conditions</a>
  </li>
  <li aboutItem>
    <a href="#">Privacy Policy</a>
  </li>
</tzf-engage-shell>
