@import "../../../styles/variables";

/* diagnosis template styles */
.diagnosisTemplate{
  h2{
    background:none;
    color:#405A6D;
    font-weight: 500;
    font-size: 24px;
    border:none;
    padding-bottom:0;
    margin-bottom:0;
  }
  p{
    margin-bottom:0;
    font-weight: 400;
    font-size: 14px;
  }
  .diagnosisSearchForm {
    margin-top: 25px;
}
}

// generic scss

.lookupSearchButton{
    margin-left: 30px;
    height: 35px;
    min-width: 16px;
    width: 40.2px;
    margin-right: 0px;
    border: 0px;
    padding:5px 6px;
    margin-top:29px;
}

button.lookupSearchButton /deep/ {
  outline: none;
    svg {
      width: 20px;
      height:20px;
      margin-bottom: 2px;
      margin-top: 2px;
    }
}


.lookup-data-header{
    padding: 20px 0px !important;
    border-top: 4px solid $color-accent-blue;
    margin: 30px 0px 0px 0px !important;
    border-bottom: 4px solid $color-neurtral-ligher-grey;
    font-weight: bold;
    color: $color-pimary-light-blue;
}
.lookup-data{
  padding: 15px 0px 0px 0px !important;
  border-bottom: 2px solid $color-neurtral-ligher-grey;
  &:last-child {
 border-bottom:none;
  }
}
.lookup-data-scroll{
  max-height: 175px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom:4px solid #D6D6D6;
}
.code-lookup-text{
  margin-top:25px;
}

.margn-r-25{
  margin-right: 25px !important;
}

