header,
nav {
  button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: $color-header-bg;
  box-shadow: $shadow-header;
  position: relative;
  z-index: $z-header; // Keep above menu and content

  &::before {
    background: $color-header-strip;
    content: '';
    display: block;
    height: $header-strip-height;
  }
}

#header-logo {
  margin-right: $header-spacing;
  min-width: $header-logo-width-min;

  img {
    position: relative;
    top: $header-logo-height / 2;
    width: 100%;
    transform: translateY(-50%);
  }
}

#header-content {
  display: flex;
  padding: $header-padding-vertical $side-padding;
  padding: $header-padding-vertical var(--side-padding); // Override for non-IE browsers
}

#header-app-content {
  flex-grow: 1;
}

#header-search-form {
  display: inline-block;
  position: relative;

  // Shrink search box at small resolutions
  width: $header-search-width;
  min-width: $header-search-width-min;
  max-width: $header-search-width-max;
}

#header-search {
	height: 38px;
	width: 100%;
	border: $standard-border $color-header-search-border;
	border-radius: $header-search-radius;
	background-color: $color-header-search-bg;
  outline: none;
  padding: 0 $header-search-padding-horizontal + 2em 0 $header-search-padding-horizontal;

  &::placeholder {
    font-style: $font-style-header-search-placeholder;
  }
}

#header-search-button {
  line-height: 0;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: $header-search-padding-horizontal;
}

.shell-header-action {
  margin-left: $header-spacing;
  position: relative;
  top: 0.25em;
}

#open-messages {
  padding-top: 4px;

  svg {
    height: 22px;
    width: 22px;
  }
}

/**
 * Display a badge on a header action.
 *
 * @atom Header action badge.
 * @section Header
 *
 * @markup
 *  <button class="shell-header-action">
 *    <strong id="notification-count" class="shell-header-action-badge">5</strong>
 *  </button>
 */
.shell-header-action-badge {
  background: $color-header-notifications-count-bg;
  border-radius: 2em;
  color: $color-header-notifications-count;
  display: block;
  font-size: $font-size-header-notification-count;
  font-weight: $font-weight-medium;
  padding: 0 $font-size-header-notification-count / 2;
  text-align: center;
  position: absolute;
  left: 50%;
  top: -0.3em;
}

#user-box {
  margin-left: $header-spacing;
  position: relative;

  .greeting,
  #user-name {
    margin: 0;
  }

  .greeting {
    color: $body-color; // If not set, turns white when pressed in Safari
    display: block;
    font-size: $font-size-user-greeting;
    line-height: 1em;
    padding-top: 3px;
  }
}

#user-menu {
	min-width: $user-menu-width-min;
	border: $standard-border $color-user-menu-border;
  border-top-color: $color-user-menu-border-top;
	border-radius: $user-menu-radius;
	background: $color-user-menu-bg;
	box-shadow: $shadow-user-menu;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: $header-padding-vertical + 1px;
  z-index: $z-user-menu;

  &::before {
	  background: $color-user-menu-header-bg;
    border: $standard-border-style $color-user-menu-border-top;
    border-width: $standard-border-width $standard-border-width 0 0;
    content: '';
    height: $user-menu-arrow-size;
    width: $user-menu-arrow-size;
    position: absolute;
    top: 0;
    right: $user-menu-arrow-right-offset;
    transform-origin: -1px -1px;
    transform: rotate(-45deg);
  }

  a {
    color: $color-user-menu;
    display: block;
    font-size: $font-size-user-menu;
    line-height: $user-menu-icon-size;
    padding: $user-menu-spacing / 2 ($user-menu-icon-spacing + $user-menu-icon-size + $user-menu-padding) $user-menu-spacing / 2 $user-menu-padding;
    text-decoration: none;
    white-space: nowrap;

    &:first-child {
      padding-top: $user-menu-spacing / 2 + $user-menu-edge-spacing;
    }
  }

  svg {
    fill: $color-user-menu;
    float: right;
    height: $user-menu-icon-size;
    width: $user-menu-icon-size;
    position: relative;
    left: $user-menu-icon-spacing + $user-menu-icon-size;
  }

  #logout {
    border-top: $standard-border $color-user-menu-border;
    margin-top: $user-menu-edge-spacing;
    padding-top: $user-menu-spacing / 2 + $user-menu-edge-spacing;
    padding-bottom: $user-menu-padding-bottom;
  }
}

#user-menu-header {
	border-bottom: $standard-border $color-user-menu-border;
	background: $color-user-menu-header-bg;
  color: $color-user-menu-header-color;
  padding: $user-menu-header-padding-vertical $user-menu-padding;
	//box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2);
}

#last-login {
  font-size: $font-size-user-menu-header;
  font-weight: $font-weight-user-last-login;
  line-height: $user-last-login-divider-height;
  margin: $user-menu-header-spacing 0 0;
}

#last-login-date {
  border-right: $user-last-login-divider-border currentColor;
  display: inline-block;
  padding-right: $user-last-login-divider-spacing;
  margin-right: $user-last-login-divider-spacing;
}

#user-menu-list {
  margin: 0;
}

#user {
  height: 100%;
  padding: 0 0 0 $user-img-width + $user-img-spacing;
  text-align: left;

  svg {
    left: 0;
    top: 4px;
    position: absolute;
  }
}

#user-name {
  color: $color-user-name;
  display: block;
  font-size: $font-size-user-name;
  white-space: nowrap;

  &::after {
    content: '';
    display: inline-block;
    border: $user-arrow-height solid transparent;
    border-top: $user-arrow-height solid $color-user-arrow;
    border-bottom-width: $user-arrow-bottom-offset;
    margin-left: $user-arrow-spacing;
  }
}

#menu-and-content {
  background: $color-main-bg;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: $side-padding;
  padding-left: var(--side-padding); // Override for non-IE browsers
}

#header-search-button path,
#app-nav .active use {
  fill: $color-nav-active-icon;
}

#app-nav {
  background: $color-nav-bg;
  border-left: $standard-border $color-nav-border-left;
  border-right: $standard-border $color-nav-border-right;
  position: relative;
  width: $nav-item-height;

  svg {
    height: $nav-icon-height;
    position: absolute;
    left: $nav-icon-padding;
  }

  use {
    fill: $color-nav-icon;
  }

  .active {
    font-weight: $font-weight-nav-active;

    @for $i from 2 through 12 {
      &:nth-child(#{$i}) ~ #nav-active-ind {
        transform: translateY($nav-expand-height + $nav-item-height * ($i - 2));
      }
    }
  }

  &.menu-expanded {
    .appNavLink {
      padding-right: $nav-expanded-padding;
      width: auto;
    }

    .active {
      background: $color-nav-expanded-active-bg;
    }

    .nav-overflow {
      background: $color-nav-expanded-bg;
      box-shadow: $shadow-nav-expanded;
      height: 100%;
      position: absolute;
      z-index: $z-nav-expanded;
    }

    + main::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-nav-expanded-content-mask;
      z-index: $z-nav-expanded-content-mask;
    }
  }
}

#app-nav-expand {
  height: $nav-expand-height;
  padding: $nav-icon-padding $nav-icon-padding 0;

  svg {
    top: $nav-icon-padding;
  }

  path {
    fill: $color-nav-expand-icon;
  }
}

#app-nav .appNavLink,
#app-nav-expand {
  color: inherit;
  display: block;
  line-height: $nav-icon-height;
  overflow: hidden;
  padding: $nav-icon-padding 0 $nav-icon-padding $nav-item-height;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  width: $nav-item-height;
}

#nav-active-ind {
  background: $color-nav-active-ind;
  border-radius: $nav-active-ind-width;
  content: '';
  display: block;
  height: $nav-item-height;
  width: $nav-active-ind-width;

  position: absolute;
  top: 0;
  right: 0;

  transition: transform $transition-nav-active-ind-position;
}

main {
  flex: 1;
  padding: $main-margin-vertical $side-padding $main-margin-vertical 0;
  padding-right: var(--side-padding); // Override for non-IE browsers
  position: relative;

  &:not(:first-child) {
    padding-left: $main-margin-left;
  }
}

/**
 * Breadcrumbs showing the context of the current page.
 *
 * @molecule Breadcrumbs
 * @section Shell
 *
 * @markup
 *  <ul id="crumbs">
 *    <li class="crumb">
 *      <a class="crumbLink" href="#">Main</a>
 *    </li>
 *    <li class="crumb">
 *      <a class="crumbLink" href="#">Sub</a>
 *    </li>
 *    <li class="crumb">
 *      Current
 *    </li>
 *  </ul>
 */
#crumbs {
  font-size: $font-size-breadcrumbs;
  line-height: 1em;
  margin-bottom: $breadcrumb-margin-bottom;
  padding-top: 0.1em;

  .crumb {
    display: inline-block;

    &:not(:last-child) {
      &::after {
        border: solid $color-breadcrumb-separator;
        border-width: $breadcrumb-separator-width $breadcrumb-separator-width 0 0;
        content: '';
        display: inline-block;
        margin: 0 $breadcrumb-separator-margin 0 $breadcrumb-separator-margin + $breadcrumb-separator-size * 0.25;
        height: $breadcrumb-separator-size;
        width: $breadcrumb-separator-size;
        transform: rotate(45deg);
        transform-origin: $breadcrumb-separator-size / 2 0;
      }
    }
  }

  .crumbLink {
    color: $color-breadcrumb-link;
  }
}

footer {
  box-shadow: $shadow-footer;
  padding: $footer-padding;
  text-align: center;

  // Keep above expanded menu
  background: $body-bg;
  z-index: $z-footer;
}

#copyright {
  color: $color-copyright;
  font-size: $font-size-copyright;
  font-weight: $font-weight-medium;
  margin: $copyright-margin 0 0;
}
