@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/@tranzform/common/styles/pro';

/*fonts*/
$font-weight-light: 100;
$font-weight-medium: 500;
$menu-icon-diameter: 2em;
$menu-icon-border: 2px;

$font-weight-light: 100;
$font-weight-medium: 500;
/*Colors*/
$color-pimary-black: #000000;
$color-pimary-grey: #5D5D5D;
$color-pimary-white: #FFFFFF;
$color-pimary-blue: #1A6880;
$color-pimary-light-blue: #2F9CB1;
$color-secondary-blue:#1E90FF;


$color-accent-blue: #1F7C99;
$color-accent-pink: #D93659;
$color-accent-green: #00873F;
$color-accent-orange: #C24E02;
$color-accent-dark-blue: #115B6D;
$color-accent-light-orange: #E3640F;
$color-accent-dark-orange: #D45E04;
$color-light-pink: #FFF3F7;

$color-neurtral-pink: #ee7b94;
$color-neurtral-grey: #6E6E6E;
$color-neurtral-light-grey: #8C8C8C;
$color-neurtral-mild-grey: #BFBFBF;
$color-neurtral-ligher-grey: #D6D6D6;
$color-neurtral-whitish-grey: #EBEBEB;
$color-neurtral-turquoise: #AADFDF;
$color-neurtral-light-turquoise: #C6DDE5;

$color-primary-bluishblack:#405A6D;

$color-pattens-blue:#DAECFA;
$color-navy-blue:#1A5EE7;

$color-alice-blue:#EFF6FB;
$color-white-smoke: #F5F5F5;
$color-green:#4eb17d;

$color-light-yellow :#EBF4E4;

$color-background-grey: #F7F7F7;
$color-border-grey: #CCCCCC;

$color-light-border-grey: #F1F1F1;
