@import   '../../../../node_modules/@tranzform/common/tabs/tabs.component.scss';
ul{
  margin-bottom:0;
  display:flex;
  justify-content: space-around;
}
  [role=tablist] {
  border-bottom: 2px solid #69B488;
}
li[aria-selected=true]{
  background:none;
  &:after {
  content: '';
    display: block;
    position: relative;
    top: -6px;
    right:auto;
    left:50%;
    width: 10px;
    height: 10px;
    background: white;
    border-top: 2px solid #69B488;
    border-right: 2px solid #69B488;
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}
}

button[role=tab] {
  background: none;
  border: none;
  line-height: unset;
  &:focus {
    outline: none;
    background:none;
  }
}
