<md-list>
  <md-list-item>
    <a md-button routerLink="/" color="primary">
      <md-icon>home</md-icon>  {{ 'HOME.HOME' | translate }} </a>
  </md-list-item>
  <md-list-item>
    <a md-button routerLink="/search" color="primary">
      <md-icon>search</md-icon>  {{ 'SEARCH.SEARCH' | translate }}</a>
  </md-list-item>
  <md-list-item>
    <a md-button routerLink="/care" color="primary">
      <md-icon>add</md-icon>  {{ 'CARE.CARE' | translate }}</a>
  </md-list-item>
  <md-list-item>
    <a md-button routerLink="/claimstatusinquiry" color="primary">
      <md-icon>search</md-icon>  {{ 'CLAIMSSTATUS.TITLE' | translate }}</a>
  </md-list-item>
  <md-list-item>
    <a md-button routerLink="/messages" color="primary">
      <md-icon>search</md-icon>  {{ 'MESSAGES.TITLE' | translate }}</a>
  </md-list-item>
</md-list>